:root {
  --colour-main: #fdcc48;
  --colour-404: #0233b7;
  --colour-research: #eb1400;
  --colour-teaching: #bf5700;
  --colour-more: #af005e;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 0 20px;
  padding: 0;
}
p {
  line-height: 26px;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
b,
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
small {
  font-size: 12px;
}
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.bulleted li {
  list-style-image: url(/images/icon-list-point.svg);
  padding-left: 6px;
}
ul.spaced {
  padding-left: 16px;
}
ul.spaced li {
  margin-bottom: 8px;
}
img {
  border-style: none;
  max-width: 100%;
}
figure,
figcaption {
  all: unset;
}
.lazy-img {
  max-width: 100%;
  width: 100%;
}
.fit-img {
  max-width: 100%;
  display: block;
  height: auto;
}
.row-img {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #222;
}
.row-img img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
menu,
section {
  display: block;
}
progress {
  vertical-align: baseline;
}
progress {
  display: inline-block;
}
[hidden] {
  display: none;
}
button,
input {
  overflow: visible;
  font: inherit;
  margin: 0;
}
button {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[class^="col-"] {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.col-0 {
  width: 0%;
}
.col-1 {
  width: 8.3333333333%;
}
.col-2 {
  width: 16.6666666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333333333%;
}
.col-5 {
  width: 41.6666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333333333%;
}
.col-8 {
  width: 66.6666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333333333%;
}
.col-11 {
  width: 91.6666666667%;
}
.col-12 {
  width: 100%;
}
.push-0 {
  margin-left: 0;
}
.push-1 {
  margin-left: 8.3333333333%;
}
.push-2 {
  margin-left: 16.6666666667%;
}
.push-3 {
  margin-left: 25%;
}
.push-4 {
  margin-left: 33.3333333333%;
}
.push-5 {
  margin-left: 41.6666666667%;
}
.push-6 {
  margin-left: 50%;
}
.push-7 {
  margin-left: 58.3333333333%;
}
.push-8 {
  margin-left: 66.6666666667%;
}
.push-9 {
  margin-left: 75%;
}
.push-10 {
  margin-left: 83.3333333333%;
}
.push-11 {
  margin-left: 91.6666666667%;
}
.push-12 {
  margin-left: 100%;
}
.pull-0 {
  margin-right: 0;
}
.pull-1 {
  margin-right: 8.3333333333%;
}
.pull-2 {
  margin-right: 16.6666666667%;
}
.pull-3 {
  margin-right: 25%;
}
.pull-4 {
  margin-right: 33.3333333333%;
}
.pull-5 {
  margin-right: 41.6666666667%;
}
.pull-6 {
  margin-right: 50%;
}
.pull-7 {
  margin-right: 58.3333333333%;
}
.pull-8 {
  margin-right: 66.6666666667%;
}
.pull-9 {
  margin-right: 75%;
}
.pull-10 {
  margin-right: 83.3333333333%;
}
.pull-11 {
  margin-right: 91.6666666667%;
}
.pull-12 {
  margin-right: 100%;
}
@media (min-width: 800px) {
  .col-d-0 {
    width: 0%;
  }
  .col-d-1 {
    width: 8.3333333333%;
  }
  .col-d-2 {
    width: 16.6666666667%;
  }
  .col-d-3 {
    width: 25%;
  }
  .col-d-4 {
    width: 33.3333333333%;
  }
  .col-d-5 {
    width: 41.6666666667%;
  }
  .col-d-6 {
    width: 50%;
  }
  .col-d-7 {
    width: 58.3333333333%;
  }
  .col-d-8 {
    width: 66.6666666667%;
  }
  .col-d-9 {
    width: 75%;
  }
  .col-d-10 {
    width: 83.3333333333%;
  }
  .col-d-11 {
    width: 91.6666666667%;
  }
  .col-d-12 {
    width: 100%;
  }
  .push-d-0 {
    margin-left: 0;
  }
  .push-d-1 {
    margin-left: 8.3333333333%;
  }
  .push-d-2 {
    margin-left: 16.6666666667%;
  }
  .push-d-3 {
    margin-left: 25%;
  }
  .push-d-4 {
    margin-left: 33.3333333333%;
  }
  .push-d-5 {
    margin-left: 41.6666666667%;
  }
  .push-d-6 {
    margin-left: 50%;
  }
  .push-d-7 {
    margin-left: 58.3333333333%;
  }
  .push-d-8 {
    margin-left: 66.6666666667%;
  }
  .push-d-9 {
    margin-left: 75%;
  }
  .push-d-10 {
    margin-left: 83.3333333333%;
  }
  .push-d-11 {
    margin-left: 91.6666666667%;
  }
  .push-d-12 {
    margin-left: 100%;
  }
  .pull-d-0 {
    margin-right: 0;
  }
  .pull-d-1 {
    margin-right: 8.3333333333%;
  }
  .pull-d-2 {
    margin-right: 16.6666666667%;
  }
  .pull-d-3 {
    margin-right: 25%;
  }
  .pull-d-4 {
    margin-right: 33.3333333333%;
  }
  .pull-d-5 {
    margin-right: 41.6666666667%;
  }
  .pull-d-6 {
    margin-right: 50%;
  }
  .pull-d-7 {
    margin-right: 58.3333333333%;
  }
  .pull-d-8 {
    margin-right: 66.6666666667%;
  }
  .pull-d-9 {
    margin-right: 75%;
  }
  .pull-d-10 {
    margin-right: 83.3333333333%;
  }
  .pull-d-11 {
    margin-right: 91.6666666667%;
  }
  .pull-d-12 {
    margin-right: 100%;
  }
}
.container {
  max-width: 360px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .container {
    max-width: 648px;
  }
}
@media (min-width: 800px) and (max-height: 600px) {
  .container {
    max-width: 500px;
  }
}
@media (min-height: 700px) {
  .flex-floaty {
    height: calc(100vh - 114px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section-spacer {
  height: 100px;
}
@media (max-width: 800px) {
  .section-spacer-home {
    height: 180px;
  }
}
.padding-10 {
  padding: 10px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.show-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 800px) {
  .d-hide {
    display: none;
  }
  .d-show {
    display: block;
  }
  .d-show-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.page-border-decoration {
  border: 20px solid #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
}
@media (min-width: 800px) {
  .page-border-decoration {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
}
.icon-menu {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 30px;
  left: 30px;
  opacity: 0.7;
  z-index: 3;
  background: #fdcc48;
  background: var(--colour-main);
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
@media (min-width: 800px) {
  .icon-menu {
    top: 50px;
    left: 50px;
  }
}
.icon-menu:hover {
  cursor: pointer;
  opacity: 1;
}
.icon-menu:hover .menu-bar-1,
.icon-menu:focus-within .menu-bar-1 {
  -webkit-animation: menu-ani-bottom 0.6s 0.4s ease-in-out;
  animation: menu-ani-bottom 0.6s 0.4s ease-in-out;
}
.icon-menu:hover .menu-bar-2,
.icon-menu:focus-within .menu-bar-2 {
  -webkit-animation: menu-ani-bottom 0.6s 0.3s ease-in-out;
  animation: menu-ani-bottom 0.6s 0.3s ease-in-out;
}
.icon-menu:hover .menu-bar-3,
.icon-menu:focus-within .menu-bar-3 {
  -webkit-animation: menu-ani 0.6s 0.1s ease-in-out;
  animation: menu-ani 0.6s 0.1s ease-in-out;
}
.icon-menu:hover .menu-bar-4,
.icon-menu:focus-within .menu-bar-4 {
  -webkit-animation: menu-ani-bottom 0.6s 0.2s ease-in-out;
  animation: menu-ani-bottom 0.6s 0.2s ease-in-out;
}
.icon-menu:hover .menu-bar-5,
.icon-menu:focus-within .menu-bar-5 {
  -webkit-animation: menu-ani 0.6s ease-in-out;
  animation: menu-ani 0.6s ease-in-out;
}
@-webkit-keyframes menu-ani {
  0% {
    width: 18px;
  }
  20% {
    width: 2px;
  }
  80% {
    width: 21px;
  }
  100% {
    width: 18px;
  }
}
@keyframes menu-ani {
  0% {
    width: 18px;
  }
  20% {
    width: 2px;
  }
  80% {
    width: 21px;
  }
  100% {
    width: 18px;
  }
}
@-webkit-keyframes menu-ani-bottom {
  0% {
    width: 12px;
  }
  20% {
    width: 2px;
  }
  75% {
    width: 21px;
  }
  100% {
    width: 12px;
  }
}
@keyframes menu-ani-bottom {
  0% {
    width: 12px;
  }
  20% {
    width: 2px;
  }
  75% {
    width: 21px;
  }
  100% {
    width: 12px;
  }
}
.icon-menu-close {
  width: 24px;
  height: 24px;
  padding: 4px;
  background: #fdcc48;
  background: var(--colour-main);
  position: fixed;
  top: 26px;
  left: 26px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px -4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-animation: bounce-out 0.4s ease-in-out;
  animation: bounce-out 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 50ms ease-in-out;
  transition: -webkit-transform 50ms ease-in-out;
  -o-transition: transform 50ms ease-in-out;
  transition: transform 50ms ease-in-out;
  transition: transform 50ms ease-in-out, -webkit-transform 50ms ease-in-out;
}
.icon-menu-close:hover,
.icon-menu-close:focus-within {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
}
.icon-menu-close.hidden {
  display: none;
}
@media (min-width: 800px) {
  .icon-menu-close {
    top: 46px;
    left: 46px;
  }
}
.site-menu {
  background: #fff;
  position: fixed;
  top: 46px;
  left: 46px;
  padding: 16px 50px;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 24px 16px -15px rgba(0, 0, 0, 0.1), 0 2px 26px rgba(0, 0, 0, 0.16);
  box-shadow: 0 24px 16px -15px rgba(0, 0, 0, 0.1), 0 2px 26px rgba(0, 0, 0, 0.16);
  -webkit-animation: bounce-out 0.4s ease-in-out 0.1s;
  animation: bounce-out 0.4s ease-in-out 0.1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
      transform-origin: top left;
  z-index: 9;
}
@media (min-width: 800px) {
  .site-menu {
    top: 66px;
    left: 66px;
  }
}
.site-menu.hidden {
  display: none;
}
.site-menu ul li {
  text-align: center;
}
.site-menu ul li.spacer {
  color: #767676;
}
.site-menu ul li a {
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.site-menu ul li a span {
  letter-spacing: 0;
}
.site-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 8;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.site-menu-overlay.hidden {
  background: 0 0;
  pointer-events: none;
}
@-webkit-keyframes bounce-out {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.menu-desktop {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  margin: 30px;
  line-height: 1;
  letter-spacing: 1.5px;
  margin: 50px;
  z-index: 3;
}
.menu-desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu-desktop li {
  margin-right: 30px;
}
.menu-desktop li:last-child {
  margin-right: 0;
}
.menu-desktop a.special-link {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  padding: 0 4px;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  -webkit-box-shadow: 0 -2px 0 0 #fdcc48 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-main) inset;
  box-shadow: 0 -2px 0 0 #fdcc48 inset;
  box-shadow: 0 -2px 0 0 var(--colour-main) inset;
  -webkit-transition: color 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
  transition: color 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
  -o-transition: box-shadow 50ms ease-in-out, color 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, color 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, color 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
}
.menu-desktop a.special-link:hover,
.menu-desktop a.special-link:focus-within {
  -webkit-box-shadow: 0 -17px 0 0 #fdcc48 inset;
  -webkit-box-shadow: 0 -17px 0 0 var(--colour-main) inset;
  box-shadow: 0 -17px 0 0 #fdcc48 inset;
  box-shadow: 0 -17px 0 0 var(--colour-main) inset;
  color: rgba(0, 0, 0, 0.87);
}
.menu-desktop a.special-link span {
  letter-spacing: 0;
}
.breadcrumb {
  text-align: right;
  font-size: 7.5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  margin: 30px;
  line-height: 1;
  letter-spacing: 1.5px;
}
@media (min-width: 800px) {
  .breadcrumb {
    margin: 50px;
  }
}
.breadcrumb a {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  -webkit-box-shadow: 0 -2px 0 0 #fdcc48 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-main) inset;
  box-shadow: 0 -2px 0 0 #fdcc48 inset;
  box-shadow: 0 -2px 0 0 var(--colour-main) inset;
  -webkit-transition: color 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
  transition: color 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
  -o-transition: box-shadow 50ms ease-in-out, color 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, color 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, color 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
}
.breadcrumb a:hover,
.breadcrumb a:focus-within {
  -webkit-box-shadow: 0 -9.5px 0 0 #fdcc48 inset;
  -webkit-box-shadow: 0 -9.5px 0 0 var(--colour-main) inset;
  box-shadow: 0 -9.5px 0 0 #fdcc48 inset;
  box-shadow: 0 -9.5px 0 0 var(--colour-main) inset;
  color: rgba(0, 0, 0, 0.87);
}
.callout-box {
  position: relative;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 70px 40px -50px rgba(0, 0, 0, 0.2), 0 3px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 70px 40px -50px rgba(0, 0, 0, 0.2), 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.number-breakout {
  color: #767676;
  font-size: 50px;
  line-height: 0;
  position: relative;
  top: -35px;
}
.behind-box {
  padding: 16px 16px 30px;
  border: 4px dashed #f1f1f1;
  position: relative;
}
.box-decoration {
  outline: 4px dashed #f1f1f1;
  margin-bottom: -112px;
  height: 435px;
}
@media (min-width: 800px) {
  .box-decoration {
    height: 230px;
  }
}
@-webkit-keyframes ctabounce1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -12px);
    transform: translate(0, -12px);
  }
  80% {
    -webkit-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes ctabounce1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -12px);
    transform: translate(0, -12px);
  }
  80% {
    -webkit-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes ctabounce2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -16px);
    transform: translate(0, -16px);
  }
  80% {
    -webkit-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes ctabounce2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -16px);
    transform: translate(0, -16px);
  }
  80% {
    -webkit-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.promo-box {
  padding: 0;
  display: block;
  text-decoration: none;
  color: #000;
}
.promo-box:hover,
.promo-box:focus-within {
  -webkit-animation: ctabounce1 0.4s ease-in-out forwards;
  animation: ctabounce1 0.4s ease-in-out forwards;
}
.promo-box:hover .read-prompt,
.promo-box:focus-within .read-prompt {
  -webkit-animation: ctabounce2 450ms ease-in-out forwards;
  animation: ctabounce2 450ms ease-in-out forwards;
}
.read-prompt {
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -33px;
  margin-top: -33px;
  -webkit-box-shadow: 0 30px 20px -10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}
.read-prompt.reverse-side {
  right: auto;
  left: -33px;
}
.ig-promo .read-prompt {
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.github-promo .read-prompt {
  background: -o-radial-gradient(30% 107%, circle, #6e5494 0, #6e5494 5%, #6e5494 45%, #6e5494 60%, #6e5494 90%);
  background: radial-gradient(circle at 30% 107%, #6e5494 0, #6e5494 5%, #6e5494 45%, #6e5494 60%, #6e5494 90%);
}
.black-promo .read-prompt {
  background: -o-radial-gradient(30% 107%, circle, #000 0, #000 5%, #000 45%, #000 60%, #000 90%);
  background: radial-gradient(circle at 30% 107%, #000 0, #000 5%, #000 45%, #000 60%, #000 90%);
}
.pagination .row a {
  text-decoration: none;
  color: #000;
  padding: 16px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination .next {
  background: #fff;
  -webkit-box-shadow: 0 35px 27px -20px rgba(0, 0, 0, 0.2), 0 3px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 35px 27px -20px rgba(0, 0, 0, 0.2), 0 3px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 3;
  margin-bottom: -10px;
  position: relative;
}
.pagination .next:hover,
.pagination .next:focus-within {
  background: #fff;
  -webkit-transform: translate3d(0px, -5px, 0px);
          transform: translate3d(0px, -5px, 0px);
}
.pagination .prev {
  background: #efefef;
  background: #f9f9f9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 2;
}
.pagination .prev span,
.pagination .prev svg {
  top: 0;
  -webkit-transition: top 150ms ease-in-out;
  -o-transition: top 150ms ease-in-out;
  transition: top 150ms ease-in-out;
  position: relative;
}
.pagination .prev:hover,
.pagination .prev:focus-within {
  background: #eee;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2) inset;
}
.pagination .prev:hover span,
.pagination .prev:focus-within span,
.pagination .prev:hover svg,
.pagination .prev:focus-within svg {
  top: 3px;
}
.pagination-label {
  margin-bottom: -20px;
}
.lead {
  font-size: 16px;
  line-height: 38px;
  margin-top: -16px;
  max-width: 234px;
  margin-bottom: 10px;
}
@media (min-width: 800px) {
  .lead {
    margin-top: -190px;
    margin-left: 15px;
  }
}
.lead span {
  background: #ededed;
  display: inline;
}
.social-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 14px;
}
@media (min-width: 800px) {
  .social-icons {
    margin-left: 15px;
  }
}
.social-icon a {
  display: block;
}
.social-icon .social-icon-fill-1 {
  fill: none;
}
.social-icon .social-icon-fill-2 {
  fill: rgba(0, 0, 0, 0.87);
  -webkit-transition: fill 125ms ease-in-out;
  -o-transition: fill 125ms ease-in-out;
  transition: fill 125ms ease-in-out;
}
.social-icon:hover .social-icon-fill-2,
.social-icon:focus-within .social-icon-fill-2 {
  fill: #fdcc48;
  fill: var(--colour-main);
}
.social-icon .social-icon-fill-1-menu-mobile {
  fill: none;
}
.social-icon .social-icon-fill-2-menu-mobile {
  fill: rgba(0, 0, 0, 0.87);
  -webkit-transition: fill 125ms ease-in-out;
  -o-transition: fill 125ms ease-in-out;
  transition: fill 125ms ease-in-out;
}
.social-icon:hover .social-icon-fill-2-menu-mobile,
.social-icon:focus-within .social-icon-fill-2-menu-mobile {
  fill: #fdcc48;
  fill: var(--colour-main);
}
@media (min-height: 400px) {
  .page-home .container {
    margin-top: -160px;
  }
}
@media (min-height: 500px) {
  .page-home .container {
    margin-top: -110px;
  }
}
@media (min-height: 600px) {
  .page-home .container {
    margin-top: -90px;
  }
}
@media (min-height: 600px) and (width: 1024px) {
  .page-home .container {
    margin-top: -10px;
  }
}
@media (min-height: 700px) {
  .page-home .container {
    margin-top: -10px;
  }
}
.pt-title {
  margin-left: 5px;
}
@media (max-height: 699px) {
  .pt-title {
    width: 75%;
    padding-left: 6.5%;
  }
}
@media (max-height: 820px) {
  .pt-title {
    width: 85%;
    padding-left: 6.5%;
  }
}
.title-container {
  margin-bottom: -32px;
  z-index: 2;
}
@media (max-width: 300px) {
  .title-container {
    padding-bottom: 3%;
  }
}
@media (min-width: 800px) and (max-height: 600px) {
  .title-container {
    padding-bottom: 5%;
  }
}
.tagline-container {
  text-align: right;
  font-size: 7.35px;
  color: rgba(0, 0, 0, 0.54);
  height: 0;
  position: relative;
  top: -20px;
}
@media (min-width: 800px) {
  .tagline-container {
    top: 122px;
    font-size: 13px;
  }
}
@media (min-width: 800px) and (max-height: 800px) {
  .tagline-container {
    top: 100px;
    font-size: 13px;
  }
}
@media (min-width: 800px) and (max-height: 600px) {
  .tagline-container {
    top: 85px;
    font-size: 13px;
  }
}
.filtered-search {
  background-color: #fff;
  border-style: solid;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
}
.pub-links {
  margin-bottom: unset;
  line-height: 30px;
}
.page-home a.special-link,
.site-menu a.special-link {
  display: inline;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 -2px 0 0 #fdcc48 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-main) inset;
  box-shadow: 0 -2px 0 0 #fdcc48 inset;
  box-shadow: 0 -2px 0 0 var(--colour-main) inset;
  -webkit-transition: -webkit-box-shadow 50ms ease-in-out;
  transition: -webkit-box-shadow 50ms ease-in-out;
  -o-transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
}
.page-home a.special-link:hover,
.page-home a.special-link:focus-within,
.site-menu a.special-link:hover,
.site-menu a.special-link:focus-within {
  -webkit-box-shadow: 0 -22px 0 0 #fdcc48 inset;
  -webkit-box-shadow: 0 -22px 0 0 var(--colour-main) inset;
  box-shadow: 0 -22px 0 0 #fdcc48 inset;
  box-shadow: 0 -22px 0 0 var(--colour-main) inset;
  color: rgba(0, 0, 0, 0.87);
}
.page-home .box-decoration {
  height: 260px;
}
@media (min-width: 800px) {
  .page-home .box-decoration {
    height: 195px;
  }
}
.page-research a {
  color: #eb1400;
  color: var(--colour-research);
}
.page-research a.special-link {
  display: inline;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 -2px 0 0 #eb1400 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-research) inset;
  box-shadow: 0 -2px 0 0 #eb1400 inset;
  box-shadow: 0 -2px 0 0 var(--colour-research) inset;
  -webkit-transition: -webkit-box-shadow 50ms ease-in-out;
  transition: -webkit-box-shadow 50ms ease-in-out;
  -o-transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
}
.page-research a.special-link:hover,
.page-research a.special-link:focus-within {
  -webkit-box-shadow: 0 -22px 0 0 #eb1400 inset;
  -webkit-box-shadow: 0 -22px 0 0 var(--colour-research) inset;
  box-shadow: 0 -22px 0 0 #eb1400 inset;
  box-shadow: 0 -22px 0 0 var(--colour-research) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-research .site-menu a.special-link {
  -webkit-box-shadow: 0 -2px 0 0 #eb1400 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-research) inset;
  box-shadow: 0 -2px 0 0 #eb1400 inset;
  box-shadow: 0 -2px 0 0 var(--colour-research) inset;
}
.page-research .site-menu a.special-link:hover,
.page-research .site-menu a.special-link:focus-within {
  -webkit-box-shadow: 0 -22px 0 0 #eb1400 inset;
  -webkit-box-shadow: 0 -22px 0 0 var(--colour-research) inset;
  box-shadow: 0 -22px 0 0 #eb1400;
  box-shadow: 0 -22px 0 0 var(--colour-research) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-research .menu-desktop a {
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 -2px 0 0 #eb1400 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-research) inset;
  box-shadow: 0 -2px 0 0 #eb1400 inset;
  box-shadow: 0 -2px 0 0 var(--colour-research) inset;
}
.page-research .menu-desktop a:hover,
.page-research .menu-desktop a:focus-within {
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 -17px 0 0 #eb1400 inset;
  -webkit-box-shadow: 0 -17px 0 0 var(--colour-research) inset;
  box-shadow: 0 -17px 0 0 #eb1400 inset;
  box-shadow: 0 -17px 0 0 var(--colour-research) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-research .breadcrumb a {
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 -2px 0 0 #eb1400 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-research) inset;
  box-shadow: 0 -2px 0 0 #eb1400 inset;
  box-shadow: 0 -2px 0 0 var(--colour-research) inset;
}
.page-research .breadcrumb a:hover,
.page-research .breadcrumb a:focus-within {
  -webkit-box-shadow: 0 -9.5px 0 0 #eb1400 inset;
  -webkit-box-shadow: 0 -9.5px 0 0 var(--colour-research) inset;
  box-shadow: 0 -9.5px 0 0 #eb1400 inset;
  box-shadow: 0 -9.5px 0 0 var(--colour-research) inset;
  color: rgba(255, 255, 255, 0.87);
}
@media (min-width: 800px) {
  .page-research .container {
    max-width: 1080px;
  }
}
@media (min-width: 800px) {
  .page-research .column {
    float: left;
    width: 33.33%;
  }
}
.page-research .filtered-search {
  border-color: #eb1400;
  border-color: var(--colour-research);
}
.page-research .section-text-color-shift {
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #767676;
  padding: 20px;
}
.page-research .section-text-color-shift:hover,
.page-research .section-text-color-shift:focus-within {
  color: #eb1400;
  color: var(--colour-research);
}
.page-research .social-icon:hover .social-icon-fill-2-menu-mobile,
.page-research .social-icon:focus-within .social-icon-fill-2-menu-mobile {
  fill: #eb1400;
  fill: var(--colour-research);
}
.page-research .icon-menu-close {
  background: #eb1400;
  background: var(--colour-research);
}
.page-research .box-decoration {
  height: 255px;
}
@media (min-width: 800px) {
  .page-research .box-decoration {
    height: 175px;
  }
}
.page-teaching a {
  color: #bf5700;
  color: var(--colour-teaching);
}
.page-teaching a.special-link {
  display: inline;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 -2px 0 0 #bf5700 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-teaching) inset;
  box-shadow: 0 -2px 0 0 #bf5700 inset;
  box-shadow: 0 -2px 0 0 var(--colour-teaching) inset;
  -webkit-transition: -webkit-box-shadow 50ms ease-in-out;
  transition: -webkit-box-shadow 50ms ease-in-out;
  -o-transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
}
.page-teaching a.special-link:hover,
.page-teaching a.special-link:focus-within {
  -webkit-box-shadow: 0 -22px 0 0 #bf5700 inset;
  -webkit-box-shadow: 0 -22px 0 0 var(--colour-teaching) inset;
  box-shadow: 0 -22px 0 0 #bf5700 inset;
  box-shadow: 0 -22px 0 0 var(--colour-teaching) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-teaching .site-menu a.special-link {
  -webkit-box-shadow: 0 -2px 0 0 #bf5700 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-teaching) inset;
  box-shadow: 0 -2px 0 0 #bf5700 inset;
  box-shadow: 0 -2px 0 0 var(--colour-teaching) inset;
}
.page-teaching .site-menu a.special-link:hover,
.page-teaching .site-menu a.special-link:focus-within {
  -webkit-box-shadow: 0 -22px 0 0 #bf5700 inset;
  -webkit-box-shadow: 0 -22px 0 0 var(--colour-teaching) inset;
  box-shadow: 0 -22px 0 0 #bf5700 inset;
  box-shadow: 0 -22px 0 0 var(--colour-teaching) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-teaching .menu-desktop a {
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 -2px 0 0 #bf5700 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-teaching) inset;
  box-shadow: 0 -2px 0 0 #bf5700 inset;
  box-shadow: 0 -2px 0 0 var(--colour-teaching) inset;
}
.page-teaching .menu-desktop a:hover,
.page-teaching .menu-desktop a:focus-within {
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 -17px 0 0 #bf5700 inset;
  -webkit-box-shadow: 0 -17px 0 0 var(--colour-teaching) inset;
  box-shadow: 0 -17px 0 0 #bf5700 inset;
  box-shadow: 0 -17px 0 0 var(--colour-teaching) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-teaching .breadcrumb a {
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 -2px 0 0 #bf5700 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-teaching) inset;
  box-shadow: 0 -2px 0 0 #bf5700 inset;
  box-shadow: 0 -2px 0 0 var(--colour-teaching) inset;
}
.page-teaching .breadcrumb a:hover,
.page-teaching .breadcrumb a:focus-within {
  -webkit-box-shadow: 0 -9.5px 0 0 #bf5700 inset;
  -webkit-box-shadow: 0 -9.5px 0 0 var(--colour-teaching) inset;
  box-shadow: 0 -9.5px 0 0 #bf5700 inset;
  box-shadow: 0 -9.5px 0 0 var(--colour-teaching) inset;
  color: rgba(255, 255, 255, 0.87);
}
@media (min-width: 800px) {
  .page-teaching .container {
    max-width: 1080px;
  }
}
@media (min-width: 800px) {
  .page-teaching .column {
    float: left;
    width: 100%;
  }
}
.page-teaching .section-text-color-shift {
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #767676;
  padding: 20px;
}
.page-teaching .section-text-color-shift:hover,
.page-teaching .section-text-color-shift:focus-within {
  color: #bf5700;
  color: var(--colour-teaching);
}
.page-teaching .social-icon:hover .social-icon-fill-2-menu-mobile,
.page-teaching .social-icon:focus-within .social-icon-fill-2-menu-mobile {
  fill: #bf5700;
  fill: var(--colour-teaching);
}
.page-teaching .icon-menu-close {
  background: #bf5700;
  background: var(--colour-teaching);
}
.page-teaching .box-decoration {
  height: 150px;
}
@media (min-width: 800px) {
  .page-teaching .box-decoration {
    height: 100px;
  }
}
.page-more a {
  color: #af005e;
  color: var(--colour-more);
}
.page-more a.special-link {
  display: inline;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 -2px 0 0 #af005e inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-more) inset;
  box-shadow: 0 -2px 0 0 #af005e inset;
  box-shadow: 0 -2px 0 0 var(--colour-more) inset;
  -webkit-transition: -webkit-box-shadow 50ms ease-in-out;
  transition: -webkit-box-shadow 50ms ease-in-out;
  -o-transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
}
.page-more a.special-link:hover,
.page-more a.special-link:focus-within {
  -webkit-box-shadow: 0 -22px 0 0 #af005e inset;
  -webkit-box-shadow: 0 -22px 0 0 var(--colour-more) inset;
  box-shadow: 0 -22px 0 0 #af005e inset;
  box-shadow: 0 -22px 0 0 var(--colour-more) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-more .site-menu a.special-link {
  -webkit-box-shadow: 0 -2px 0 0 #af005e inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-more) inset;
  box-shadow: 0 -2px 0 0 #af005e inset;
  box-shadow: 0 -2px 0 0 var(--colour-more) inset;
}
.page-more .site-menu a.special-link:hover,
.page-more .site-menu a.special-link:focus-within {
  -webkit-box-shadow: 0 -22px 0 0 #af005e inset;
  -webkit-box-shadow: 0 -22px 0 0 var(--colour-more) inset;
  box-shadow: 0 -22px 0 0 #af005e inset;
  box-shadow: 0 -22px 0 0 var(--colour-more) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-more .menu-desktop a {
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 -2px 0 0 #af005e inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-more) inset;
  box-shadow: 0 -2px 0 0 #af005e inset;
  box-shadow: 0 -2px 0 0 var(--colour-more) inset;
}
.page-more .menu-desktop a:hover,
.page-more .menu-desktop a:focus-within {
  color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 -17px 0 0 #af005e inset;
  -webkit-box-shadow: 0 -17px 0 0 var(--colour-more) inset;
  box-shadow: 0 -17px 0 0 #af005e inset;
  box-shadow: 0 -17px 0 0 var(--colour-more) inset;
}
.page-more .breadcrumb a {
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 -2px 0 0 #af005e inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-more) inset;
  box-shadow: 0 -2px 0 0 #af005e inset;
  box-shadow: 0 -2px 0 0 var(--colour-more) inset;
}
.page-more .breadcrumb a:hover,
.page-more .breadcrumb a:focus-within {
  -webkit-box-shadow: 0 -9.5px 0 0 #af005e inset;
  -webkit-box-shadow: 0 -9.5px 0 0 var(--colour-more) inset;
  box-shadow: 0 -9.5px 0 0 #af005e inset;
  box-shadow: 0 -9.5px 0 0 var(--colour-more) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-more .filtered-search {
  border-color: #af005e;
  border-color: var(--colour-more);
}
.page-more .social-icon:hover .social-icon-fill-2-menu-mobile,
.page-more .social-icon:focus-within .social-icon-fill-2-menu-mobile {
  fill: #af005e;
  fill: var(--colour-more);
}
.page-more .social-icon-fill-1 {
  fill: none;
}
.page-more .social-icon-fill-2 {
  fill: #fff;
}
.page-more .account-name .social-icon-fill-2 {
  fill: #999;
}
.page-more .icon-menu-close {
  background: #af005e;
  background: var(--colour-more);
}
.page-more .behind-box {
  margin-bottom: -40px;
}
.page-more .thumbs > figure,
figcaption {
  background-position: center;
  background-size: cover;
}
.page-more .account-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-more .account-name svg {
  width: 24px;
}
.content-404 h2 {
  font-size: 42px;
  line-height: 1.2;
}
.content-404 h2 span {
  color: #0233b7;
  color: var(--colour-404);
}
.page-404 .menu-desktop a {
  color:rgba(0,0,0,.54);
  -webkit-box-shadow:0 -2px 0 0 #0233b7 inset;
  -webkit-box-shadow:0 -2px 0 0 var(--colour-404) inset;
  box-shadow:0 -2px 0 0 #0233b7 inset;
  box-shadow:0 -2px 0 0 var(--colour-404) inset;
}
.page-404 a.special-link {
  display: inline;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 -2px 0 0 #0233b7 inset;
  -webkit-box-shadow: 0 -2px 0 0 var(--colour-404) inset;
  box-shadow: 0 -2px 0 0 #0233b7 inset;
  box-shadow: 0 -2px 0 0 var(--colour-404) inset;
  -webkit-transition: -webkit-box-shadow 50ms ease-in-out;
  transition: -webkit-box-shadow 50ms ease-in-out;
  -o-transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out;
  transition: box-shadow 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
}
.page-404 a.special-link:hover,
.page-404 a.special-link:focus-within,
.page-404 .site-menu a.special-link:hover,
.page-404 .site-menu a.special-link:focus-within {
  -webkit-box-shadow: 0 -22px 0 0 #0233b7 inset;
  -webkit-box-shadow: 0 -22px 0 0 var(--colour-404) inset;
  box-shadow: 0 -22px 0 0 #0233b7 inset;
  box-shadow: 0 -22px 0 0 var(--colour-404) inset;
  color: rgba(255, 255, 255, 0.87);
}
.page-404 .social-icon:hover .social-icon-fill-2-menu-mobile,
.page-404 .social-icon:focus-within .social-icon-fill-2-menu-mobile {
  fill: #0233b7;
  fill: var(--colour-404);
}
.page-404 .icon-menu-close {
  background: #0233b7;
  background: var(--colour-404);
}
.wrap-404 {
  margin-top: 80px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 800px) {
  .wrap-404 {
    height: calc(100vh - 114px);
    margin: 0;
  }
}
.content-404 {
  width: 360px;
}