extends ./includes/_page-head

block vars
  - var page = '404'

block content
  
  .wrap-404
    
    .content-404
      h1 This is a <span>404</span> page ¬
      
      p You are here because you clicked a dead link or typed something stupid into the address bar.
      
      p You might be expecting an Easter egg or something, but nope. All you get is a dead page.
      
      p Congratulations, you played yourself.
      
      p Use the bloody navigation and get out of here.

    .section-spacer(style="height: 30px")

    .row
      .col-8.col-d-2.push-d-3
        p  &#x24B8; 2019 by Paul Le Tran