extends ../includes/_page-head

block vars
  - var page = 'more'
  - var nexturl3 = '/research'
  - var nextlabel3 = 'Research'
  - var nexturl1 = 'https://drive.google.com/file/d/1P3rTeJtPRlIMhha3hauKHkdX2BGse3ht/view'
  - var nextlabel1 = 'CV'
  - var nexturl2 = 'https://drive.google.com/file/d/0B1o_SCwTPL6TTXBFa0Z6M2J4VTA/view'
  - var nextlabel2 = 'Transcript'
  - var prevurl = '/'
  - var prevlabel = 'Home'
  - var paglabel = 'Pick a path...'

block content
  
  .breadcrumb <a href="/">paulletran.com</a> / #{page}
  
  .container

    .row
      .col-7.push-1.pull-3
        .push-1.number-breakout(style="color: #ff1400"): strong RESEARCH
    
    .row
      .col-7.push-4.pull-1.col-d-6.push-d-6.pull-d-0
        .complicated-paragraph
          p Anything that doesn't relate to my research are kind of just put here. They're still important to me though.
    
    
    .section-spacer
    
    .row
      .coll-9.pull-1.push-2.col-d-6.push-d-5.pull-d-1
        .behind-box
          .push-3.number-breakout: strong 1
          p I love powerlifting, and by that, I mean I only love squats, bench, and deadlifts. Cardio doesn't exist.
    
    .row
      .col-9.push-1.pull-2
        a(href="https://www.instagram.com/tranlephu/").callout-box.promo-box.ig-promo
          
          .row.thumbs
            .col-4(style="background-image: url(/images/ig-powerlifting-1.jpg); border-top-left-radius: 8px;")
            .col-4(style="background-image: url(/images/ig-powerlifting-2.jpg)")
            .col-4(style="background-image: url(/images/ig-powerlifting-3.jpg); border-top-right-radius: 8px;")
          
          .padding-10.account-name
            include ../images/icon-instagram.svg
            span /tranlephu
          
          .read-prompt
            include ../images/icon-instagram.svg

    .section-spacer 
    
    include ../includes/_pagination.jade

    .section-spacer(style="height: 30px")

    .row
      .col-8.col-d-2.push-d-3
        p  &#x24B8; 2019 by Paul Le Tran